h5{
    font-size: 50px !important;
}
p{
    font-size: 20px  !important;
}
.navbar-brand{
        margin-left: 20px !important;
        margin-right: 20px !important;
        font-size: 25px !important;
        font-weight: bold !important;
}
a{
   color:rgb(65, 42, 165) !important;
   font-weight: bold !important;
}
h5{
    font-size: 25px !important;
}
.card-text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
.btn-outline-warningr{
    font-weight: bold !important;
    font-size: 20px !important;
}
.container{
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: end !important;
}
.icons{
    z-index: 2 !important;
    position: fixed !important;
    top: 150px !important;
    left: 1250px !important;
    font-size: 80px !important;
    line-height: 80px !important;
}
a{
    display: block !important;
    
}
/* ///////////////////////////////////////////////////////////////////////////// */
.accordion-body{
    /* text-align: center !important;
    font-size: 50px !important;  */
}
button{
    font-size: 22px !important;
    font-weight: bold !important;
}
/* ///////////////////////////////////////////////////////////////////////////// */
h1{
    text-align: center !important;
    font-size: 30px !important;
}
a{
    text-decoration: none !important;
}
h4{
    margin-left: 45px !important;
}
/* ////////////////////////////////////////////////////////////////////////////// */
.img-fluid{
    background-attachment:fixed !important;

}
/* /////////////////////////////////////////////////////////////////////////////// */
.container{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
}




